.choose {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 1124px;

}

.choose__grid {
  display: grid;
  grid-template-columns: 366px 366px 366px ;
  grid-column-gap: 20px;
}

.choose__title {
  font-family: var(--main-font);
  font-size: 22px;
  line-height: 34px;
  color: var(--font-color);
  align-self: flex-start;
  margin: 56px 0 16px;
  width: 100%;
}

.choose__wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.choose__cards {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  width: 1144px;
}

.choose__router-link {
  text-decoration: none;
}
