<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    .x {
        display: grid;
        grid-template-columns: 462px 462px 462px;
    }

    .y  {
        display: grid;
        background: #3e9920;
        border: 1px solid black;
    }
</style>

<div class="x">
    <div class="y">w</div>
    <div class="y">w</div>
    <div class="y">w</div>
    <div class="y">w</div>
    <div class="y">w</div>
    <div class="y">w</div>
    <div class="y">w</div>
    <div class="y">w</div>
    <div class="y">w</div>
    <div class="y">w</div>
</div>
</body>
</html>