html {
  --main-font: Roboto, sans-serif;
  --border-btn: #e0e0e0;
  --color-btn: #262626;
  --white: #ffffff;
  --font-color: #1d1d1d;
  --gray-font: #626262;
  --hover: #f9f9f9;
  --green: #327430;
  --lightgray: lightgray;
}

body {
  margin: 0;
}
