.restaurant-choose {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: space-between;
  width: 1124px;
  margin: auto;
}

.restaurant-choose__type {
  display: flex;
  flex-direction: column;
}

.restaurant-choose__dish {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1124px;
}

.restaurant-choose__title {
  font-family: var(--main-font);
  font-size: 22px;
  line-height: 100px;
  padding-top: 150px;
  margin-top: -150px;
  font-weight: 500;
  z-index: 1;
}
